.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1DB954;
  border-radius: 4px;
  background: #1DB954;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #00dcb5;
  border-color: #00dcb5;
}

.button--inverse {
  background: transparent;
  color: #1DB954;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #00dcb5;
}

.button--danger {
  background: #2f4858;
  border-color: #2f4858;
}

.button--danger:hover,
.button--danger:active {
  background: #c0564a;
  border-color: #c0564a;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}