.card {
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 0rem;
  overflow: hidden;
  background: #292929;
  color: #ffd900;
}

.error{
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 0rem;
  overflow: hidden;
  background: #DA4453;
  text-align: center;
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0rem;
  font-size: large;
  color: black
}
